<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
</head>
<body>
<form class="sui-form form-horizontal" style="margin: 0 auto">
    <div class="control-group">
        <label for="schoolNum" class="control-label">username：</label>
        <div class="controls">
            <input type="text" id="schoolNum" placeholder="schoolNum">
        </div>
    </div>
    <div class="control-group">
        <label for="password" class="control-label">password：</label>
        <div class="controls">
            <input type="password" id="password" placeholder="password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button type="button" onclick="login()" class="sui-btn btn-primary">Sign in</button>
        </div>
    </div>
</form>

<script src="/resources/js/all.js"></script>
</body>
</html>